.sidebarWrap {
  padding: 60px;
  max-width: 290px;
  border-right: 1px solid #d6deed;

  .copyright {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14.52px;
    margin-top: 500px;
    text-align: center;
  }
}

.logoSidebar {
  width: 100%;
  margin-bottom: 30px;
}

.btnOrderSidebar {
  background-color: #008dff;
  color: #ffffff;
  width: 100%;
  display: inline-block;
  margin: 30px 0;
  border-radius: 12px;
  display: flex;
  padding: 15px 0;
  // justify-content: center;
  align-items: center;
  gap: 12px;
  span {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    // line-height: 19.36px;
  }
  img {
    margin-left: 16px;
  }
}
